.post {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.postHeader {
  width: 100%;
}

.postImg {
  width: 100%;
  max-height: 400px;
}

.postContent {
  padding: 20px;
}

.postContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.postSubContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.postAuthorImg {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.postAuthorContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.postContent h3 {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
