.container {
  width: 500px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 40px 20px;
  background-color: white;
}

.container * {
  margin: 0;
}

.containerTitle {
  font-size: 80px;
  color: gray;
}

.containerSubTitle {
  font-size: 40px;
}

.containerDescription {
  color: gray;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buttonContainer a,
.buttonContainer button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px 16px;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
}

.buttonContainer a:hover,
.buttonContainer button:hover {
  transform: translateY(-5px);
}

.buttonContainer a svg,
.buttonContainer button svg {
  margin: 0;
}

.primaryButton {
  color: white;
  background-color: #343a40;
  border: 1px solid #343a40;
}

.secondaryButton {
  color: gray;
  border: 1px solid #dee2e6;
  background-color: transparent;
}
