.PostGridContainer {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}

.PostGrid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 900px) {
  .PostGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
