.authorPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-block: 16px;

  .post {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
  }

  .postHeader {
    width: 100%;
    padding-bottom: 4px;
  }

  .categoryContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .authorPostInfo {
    display: flex;
    justify-content: space-between;
  }

  .authorPostData {
    padding: 16px;
  }

  .authorPostLink {
    text-decoration: none;
    color: black;
  }
}
