body {
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media (max-width: 1000px) {
  main {
    padding-inline: 20px;
  }
}
