.header {
  border-bottom: 1px solid #d9d9d9;
  background-color: white;
  display: flex;
  justify-content: center;

  .container {
    padding: 8px 16px;
    max-width: 1280px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: none;
  }

  .loginButton {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 8px;
  }
}
