.postCard {
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  background-color: white;

  .postHeader {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .postContent {
    padding: 16px;

    .categoryContainer {
      display: flex;
      gap: 8px;
      padding-bottom: 10px;
    }

    .title {
      font-size: 18px;
      font-weight: normal;
      margin: 0 0 10px 0;
    }

    .description {
      font-size: 12px;
      font-weight: normal;
      margin: 0;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin-block: 20px;
  }

  .postAuthor {
    display: flex;
    align-items: center;
    gap: 8px;

    .authorPhoto {
      width: 32px;
      height: 32px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }

    .authorData {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      .authorName {
        font-weight: bold;
      }
    }
  }

  .postAuthorLink {
    text-decoration: none;
    color: black;
  }
}
