.filterMenu {
  padding-inline: 20px;
}

.filterMenuButton {
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 20px;
  background-color: transparent;
  margin-bottom: 10px;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #eee;
  }
}

.filtersContainer {
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputFilterContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  input {
    min-width: 250px;
    padding: 5px;
  }
}

.buttonFilterContainer {
  display: flex;
  justify-content: end;

  button {
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 16px;

    &:hover {
      background-color: #ccc;
    }
  }
}
