.section {
  background-color: white;
  padding: 10px;
}

.section textarea {
  width: 100%;
  field-sizing: content;
  resize: none;
  max-height: 10lh;
  padding: 10px;
}

.titleInput {
  min-height: 5lh;
  margin-bottom: 30px;
}

.descriptionInput {
  min-height: 10lh;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.button {
  padding: 10px 40px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}
