.registerSection {
  width: 500px;
  margin: auto;
  text-align: center;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
}

.title {
  margin: 20px 0;
  font-size: 35px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button {
    padding: 8px 16px;
    cursor: pointer;
  }
  input,
  textarea {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #e3e3e3;
    &:focus {
      outline: none;
      border-color: #00aae4;
    }
  }
  textarea {
    field-sizing: content;
    resize: none;
    min-height: 3lh;
    max-height: 10lh;
  }
}

.registerLink {
  color: blue;
}

.registerErrorMessage {
  color: red;
}

@media (max-width: 600px) {
  .registerSection {
    width: 100%;
  }
}
