.postContainer {
  padding: 40px;
  display: flex;
  justify-content: center;

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .postCardContainer {
    text-decoration: none;
    color: black;
  }
}
