.authorHeader {
  max-width: 100%;
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  gap: 128px;

  div {
    width: 50%;
  }

  .authorPhoto {
    display: flex;
    justify-content: end;

    img {
      width: 300px;
      height: 300px;
      border-radius: 100%;
    }
  }

  .categoryContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
